manifest {
    name            = 'negedia/downsampling'
    author          = """Giuseppe Martone, Chiara Colantuono"""
    homePage        = 'https://github.com/NEGEDIA'
    description     = """to complete"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.0'
    version         = '1.0'
}

params {
    input = "NULL"
    outdir = "NULL"
    datadir = "/home/giuseppe/Documents/Pipelines/downsampling"
}

process {
    withName: 'DOWNSAMPLING' { cpus = 2; memory = 8.GB }
}

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    googlebatch {
        process.executor = "google-batch"
        google.project = "ngdx-nextflow"
        google.location = "europe-west1"
        google.batch.bootDiskSize = "10.GB"
    }
    wave {
        wave.enabled = true
        wave.strategy = ['container','dockerfile']
        wave.freeze = true
        wave.build.repository = 'europe-west1-docker.pkg.dev/ngdx-nextflow/wave/digital'
        wave.build.cacheRepository = 'europe-west1-docker.pkg.dev/ngdx-nextflow/wave-cache/digital'
    }
    fusion {
        fusion.enabled = true
        process.scratch = false
    }
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}
